/* /////// FOOTER STYLES /////// */

.footer {
    /* margin: auto; */
    width: 100%;
    height: 125px;
    overflow: auto;
    /* min-height: 115px; */
    position: relative;
    /*top: 440px;*/
    background-image: url(../images/starry_sky.jpg);
    box-shadow: 0px -10px 8px rgba(0, 0, 0, 0.5);
    z-index: 2;
    /* text-align: center; */
}

.project_footer {
    /* margin: auto; */
    width: 100%;
    height: 125px;
    overflow: auto;
    /* min-height: 115px; */
    /*position: relative;*/
    top: 440px;
    background-image: url(../images/starry_sky.jpg);
    box-shadow: 0px -10px 8px rgba(0, 0, 0, 0.5);
    z-index: 2;
    /* text-align: center; */
}

/* /////// FOOTER LOGO + INFO STYLES //////////*/

.footer_wrapper_logo {
	float: left;
	/*clear: right;*/
	/*border: red solid 3px;*/
	margin-top: 10px;
  text-align: left;
}

#logo_footer {
    width: 75px;
    height: 75px;
    background-image: url(../images/logo_AK_white_75x75.png);
    background-repeat: no-repeat;
    margin: 13px 0px 0px 30px;
    float: left;
    clear: right;
}

#footer_wrapper_text {
    border-left: solid 1px rgb(0, 144, 255);
    border-right: solid 1px rgb(0, 144, 255);
    padding: 0px 27px 0px 42px;
    float: left;
    margin: 13px 0px 0px 40px;
}

.footer_info {
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 100;
    color: white;
    margin-bottom: 7px;
}

/*/////////  FOOTER ICON STYLES  ///////////*/

#footer_icon_body {
    margin: 28px auto 0;
    /*border: green solid 2px;*/
    overflow: auto;
    /* float: left; */
    /* text-align: center; */
    /* margin-left: 10%; */
    /* overflow: auto; */
}

.footer_icon_wrapper {
    /*border: 1px solid pink;*/
    /* margin: 0 auto; */
    /*overflow: auto;*/
    /* display: inherit; */
    text-align: center;
    float: left;
    width: 83%;
}

.icon_position {
    display: inline-block;
    /* margin: 0 auto; */
    /* border: 3px solid; */
    border-radius: 50%;
    padding: 5px;
    /* float: left; */
    margin-left: 2%;
}

#footer_gmail{
	height: 50px;
	width: 50px;
	background-image: url(../images/gmail2_icon_white_circle_130x130.png);
	background-size: cover;
	background-repeat: no-repeat;
}

#footer_linkedin{
	height: 50px;
	width: 50px;
	background-image: url(../images/linkedin_icon_white_130x130.png);
	background-size: cover;
	background-repeat: no-repeat;
}

#footer_resume{
	height: 50px;
	width: 50px;
	background-image: url(../images/resume_icon_white_circle_130x130.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.back_to_top {
    font-size: 20px;
    position: absolute;
    bottom: 54px;
    right: 2%;
    /* display: block; */
    /* height: 34px; */
    /* margin-top: 18px; */
    /* float: right; */
    /* padding-bottom: 35px; */
    /*border: 1px solid yellow;*/
}

.project_back_to_top {
    font-size: 20px;
    /*position: absolute;*/
    bottom: 54px;
    right: 2%;
    /* display: block; */
    /* height: 34px; */
    /* margin-top: 18px; */
    /* float: right; */
    /* padding-bottom: 35px; */
    /*border: 1px solid yellow;*/
}


.blue_span{
	color: rgb(0, 144, 255);
}

/*////// MOBILE FOOTER STYLES //////*/
@media (max-width: 1024px) {
  .footer {
    /*top: 380px;*/
	}
}
@media (max-width: 800px) {
  .footer {
    height: 270px;
	}
  .footer_wrapper_logo {
    float: none;
    /* clear: both; */
    /*border: red solid 1px;*/
    /* margin-top: 10px; */
    overflow: auto;
    margin: 10px 20%;
    /* width: 360px; */
}
#footer_wrapper_text {
    border-left: solid 1px rgb(0, 144, 255);
    border-right: solid 1px rgb(0, 144, 255);
    padding: 0px 23px 0px 35px;
    float: left;
    /* margin: 13px 0px 0px 27px; */
}
  #footer_icon_body {
      /* margin: 28px auto 0; */
      /*border: green solid 2px;*/
      overflow: auto;
      /* float: left; */
      /* text-align: center; */
      /* margin-left: 10%; */
      /* overflow: auto; */
      clear: both;
}
.footer_icon_wrapper {
    margin-bottom: 30px;
    width: 100%;
}
.back_to_top {
    font-size: 20px;
    height: 28px;
    /* bottom: 54px; */
    position: initial;
    /* right: 2%; */
    /* bottom: -26px; */
    /* display: block; */
    /* height: 34px; */
    /* margin-top: 18px; */
    overflow: auto;
    /* margin: 0 auto; */
    text-align: center;
    /* float: right; */
    /* padding-bottom: 35px; */
    border: 1px solid ;
  }
}

@media (max-width: 560px) {
  .footer {
    height: 270px;
    /*top: 350px;*/
}
  .footer_wrapper_logo {
    float: none;
    /* clear: both; */
    /* border: red solid 1px; */
    /* margin-top: 10px; */
    overflow: auto;
    margin: 10px auto;
    width: 360px;
}

    #logo_footer {
      width: 75px;
      height: 75px;
      background-image: url(../images/logo_AK_white_75x75.png);
      background-repeat: no-repeat;
      margin: 13px 0px 0px 4px;
      float: left;
      /* clear: right; */
    }
}

/*/////// FOOTER LINK SYLES ////////*/

a {
	text-decoration: none;
}
a:link {
    text-decoration: none;
    color: white;
}
a:visited {
    text-decoration: none;
    color: white;
}
a:hover {
    background-color: rgba(0,144,255);
}
a:active {
    text-decoration: none;
}
