

/* ABOUT SECTION STYLES*/
#about {
    width: 100%;
    height: 760px;
    background-image: url(../images/starry_sky.jpg);
    position: relative;
    top: 86vh;
}

.icon-grid {
    width: 80%;
    margin: 0 auto;
    /*border: 1px solid cyan;*/
    overflow: auto;
    /* text-align: center; */
}

.skills-icon {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
}

@media (max-width: 1025px) {
	#about {
    width: 100%;
    height: 760px;
    background-image: url(../images/starry_sky.jpg);
    position: relative;
    top: 72vh;
	}
}

@media (max-width: 830px) {
	#about {
    width: 100%;
    height: 760px;
    background-image: url(../images/starry_sky.jpg);
    position: relative;
    top: 72vh;
	}
}

@media (max-width: 630px) {
	#about {
    width: 100%;
    height: 760px;
    background-image: url(../images/starry_sky.jpg);
    position: relative;
    top: 67vh;
	}
}

#wrapper_title_about{
	width: 150px;
	margin: auto;
	border-bottom: solid 1px rgb(0, 144, 255);
}
.title_about{
	text-align: center;
	color: white;
	font-size: 36pt;
	font-weight: 300;
	padding-bottom: 20px;
	padding-top: 22px;
}
#wrapper_body_about {
    width: 70%;
    margin: auto;
    padding-top: 45px;
    /* clear: right; */
    /* display: block; */
    overflow: auto;
    /* border: 1px yellow solid; */
}

#wrapper_about_left{
	width: 475px;
}
#wrapper_about_right{
	width: 475px;
	float: right;
	padding-left: 55px;
	border-left: solid 4px rgb(0, 144, 255);
}
.body_about{
	font-size: 20pt;
	font-weight: 300;
	color: white;
	line-height: 190%;
	float: left;
  text-align: center;
}
.bacon {
	position: relative;
	top: 5px;
}
.planet{
	float: right;
	margin-right: -10%;
	-ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

/* WORK SECTION STYLES*/
#work {
    width: 100%;
    height: 750px;
    transform: skewY(-4deg);
    position: relative;
    top: 609px;
    overflow: hidden;
}
.wrapper_title_work{
	width: 140px;
	position: absolute;
	padding-top: 40px;
	margin-left: 45%;
	transform: skewY(0deg);
}
.title_work{
	text-align: center;
	color: rgb(0, 144, 255);
	font-size: 38pt;
	font-weight: 300;
	letter-spacing: 3px;
	border-bottom: solid 3px black;
	padding-bottom: 20px;
	transform: skewY(4deg);
}

.work_button {
    display: block;
    /* width: 200px; */
    /* height: 40px; */
    font-size: 21px;
    background-color: black;
    color: black;
    transform: skewY(4deg);
    text-align: center;
    position: absolute;
    top: 330px;
    padding: 18px 97px;
    /* border: 0px solid rgb(0, 144, 255); */
    border-radius: 8px;
    margin-left: 40%;
    z-index: 1;
    /* vertical-align: middle; */
}

#work_background{
	width: 100%;
	height: 100%;
	background-image: url(../images/leaves1_1440x700.jpg);
}
#tree {
    background-image: url(../images/Bonsai1_BW_1200x922.png);
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: .3;
    position: absolute;
    top: 85px;
    left: 0;
    height: 633px;
    width: 58%;
    transform: skewY(4deg);
}

@media (max-width: 1025px) {
	#work {
    width: 100%;
    height: 780px;
    transform: skewY(-4deg);
    position: relative;
    top: 504px;
}
#tree {
	/* background-image: url(../images/tree_692x569_2.png); */
	background-repeat: no-repeat;
	background-size: 100%;
	opacity: .3;
	position: absolute;
	top: 140px;
	/* left: -20px; */
	height: 600px;
	width: 81%;
	}
}

@media (max-width: 890px) {
	#tree {
    width: 720px;
    height: 690px;
    /* transform: skewY(-4deg); */
    position: fixed;
    top: 190px;
	}
}


@media (max-width: 660px) {
  .wrapper_title_work {
    width: 140px;
    position: absolute;
    padding-top: 50px;
    margin-left: 32%;
    transform: skewY(0deg);
}
    #tree {
      width: 632px;
      height: 770px;
      /* transform: skewY(-4deg); */
      /* position: fixed; */
      top: 205px;
      left: -244px;
    }
    .work_button {
    display: block;
    /* width: 200px; */
    height: 40px;
    font-size: 20px;
    background-color: rgb(0, 144, 255);
    color: black;
    transform: skewY(4deg);
    /* text-align: center; */
    position: absolute;
    top: 330px;
    padding: 12px 90px;
    border: 0px solid rgb(0, 144, 255);
    border-radius: 8px;
    margin-left: 61px;
    z-index: 1;
  }
}

/*/////////// CONTACT SECTION STYLES /////////*/
#contact {
    width: 100%;
		height: 750px;
    /* overflow: auto; */
    background-color: rgb(0,144,255);
    position: relative;
		top: 505px;
    transform: skewY(4deg);
    /* margin-bottom: 5%; */
}

#wrapper_title_contact{
	width: 150px;
	margin-left: 44%;
	/*position: relative;
	top: 50px;*/
	border-bottom: solid 1px white;
	transform: skewY(-4deg);
	padding-top: 30px;
}
.title_contact{
	text-align: center;
	color: black;
	font-size: 36pt;
	font-weight: 300;
	padding-bottom: 20px;
	padding-top: 25px;
}

#mario {
    width: 961px;
    height: 666px;
    margin-right: 0%;
    margin-bottom: 0;
    border: solid black 1px;
    background-image: url(../images/mario_900x600.png);
    background-clip: content-box;
    mix-blend-mode: screen;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    opacity: .2;
}

@media (max-width: 1025px) {
	#contact {
    width: 100%;
    height: 750px;
    /* overflow: auto; */
    background-color: rgb(0,144,255);
    position: relative;
    top: 432px;
    transform: skewY(4deg);
    /* margin-bottom: 5%; */
	}
}

@media (max-width: 924px) {
	#contact {
		height: 970px;
	}
}

@media (max-width: 660px) {
	#contact {
		height: 1270px;
	}
  #wrapper_title_contact {
    width: 150px;
    margin-left: 29%;
    border-bottom: solid 1px white;
    transform: skewY(-4deg);
    padding-top: 30px;
  }
}

/*/////// START INFO BOX /////////*/

#wrapper_body_contact {
    /* width: 90%; */
    margin: 0px 7%;
    overflow: auto;
    padding: 65px 0px 0px 0px;
    transform: skewY(-4deg);
    /*border: 1px solid pink;*/
}

#contact_info {
    /* position: absolute; */
    /* left: 5%; */
    width: 27%;
    height: 460px;
    margin-right: 3%;
    float: left;
    /* display: inline-block; */
    background-color: black;
    /* clear: both; */
}

@media (max-width: 924px) {
	#contact_info {
    width: 100%;
    height: 295px;
    /*overflow: scroll;*/
    margin-bottom: 22px;
    margin-right: 0%;
    /* position: relative; */
	}
}

#info_title_wrapper {
    /* letter-spacing: 2px; */
    /* text-align: center; */
    /* margin-bottom: 42px; */
    padding: 24px;
    /* border-bottom: 2px solid rgb(0,144,255); */
}


#info_title_wrapper h1 {
    margin: auto;
    width: 34%;
    color: white;
    font-size: 25pt;
    font-weight: 300;
    letter-spacing: 2px;
    text-align: center;
    border-bottom: 2px solid rgb(0,144,255);
    padding-bottom: 16px;
}

.icon_body_container_left, .icon_body_container_right {
    /*border: solid 1px pink;*/
		overflow: auto;
}

.icon_wrapper {
    margin-top: 3%;
    border: solid 1px /*yellow*/;
}

.icon_flex {
    height: auto;
    width: 2vw;
    background-size: contain;
    display: inline-block;
    float: left;
    margin-left: 7%;
    margin-right: 3%;
}

.info_description {
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    font-size: 2vh;
    font-weight: 100;
    letter-spacing: 1px;
    margin: 11px 0px 11px 3px;
    /* border: .5px solid white; */
}

@media (max-width: 924px) {
	.icon_body_container_left, .icon_body_container_right {
    float: left;
    width: 48%;
    overflow-x: hidden;
}
	.icon_wrapper {
		/* display: inline-block; */
		/* border: 1px solid yellow; */
		/* float: left; */
		white-space: nowrap;
		width: 97%;
		/* margin: 0px 0 10px 15%; */
	}
/*.resume_clear_right{
	clear: right;
}*/
.icon_flex {
    width: 5vmin;
    /* border: 1px solid red; */
    display: block;
    /* margin-left: 0%; */
}
	.info_description {
		font-size: 3vmin;
		font-weight: 100;
		margin: 10px 0 11px 25%;
	}
}

.blue_info {
    color: rgb(0, 144, 255);
    font-size: 13pt;
}


/*/////// START CONTACT FORM /////////*/

.contact_subheader {
    color: black;
    font-size: 18pt;
    padding-left: 10px;
    margin-bottom: 10px;
}

#contact_form {
    /* position: absolute; */
    /* float: right; */
    /* right: 5%; */
    width: 70%;
    overflow: auto;
    height: auto;
    /* display: inline-block; */
    /* background-color: grey; */
    /* border: 1px red solid; */
}

@media (max-width: 924px) {
	#contact_form {
	    width: 100%;
			margin-right: 0;
			padding: 10px 0;
	    /* position: relative; */
	}
}

.form_column {
    width: 44%;
    /* min-width: 34%; */
    /* height: auto; */
    margin-right: 2%;
    padding: 10px;
    /* border: black solid 1px; */
    float: left;
}

@media (max-width: 660px) {
	.form_column {
	    width: 100%;
			margin-right: 0;
			padding: 10px 0;
	    /* position: relative; */
	}
}

input {
    width: 100%;
    border: 3px solid #fff;
    border-radius: 5px;
    margin-bottom: 25px;
    background-color: rgb(0,144,255);
    /* padding: 10px 3px; */
    height: 45px;
    font-size: 15px;
    color: #ffffff;
}

 #comment {
	width: 100%;
    border: 3px solid #fff;
    border-radius: 5px;
    margin-bottom: 25px;
    background-color: rgb(0,144,255);
    /* padding: 10px 3px; */
    height: 200px;
    font-size: 15px;
    color: #ffffff;
}

 #submit{
	height: 50px;
	background-color: black;
	border-color: black;
	/*width: 100%;*/
	cursor: pointer;
	/*-webkit-appearance: none;*/
}

@media (max-width: 660px) {
	input {
	    width: 97%;
	}
  	#comment {
  		width: 97%;
}

/*#wrapper_contact_left{
	width: 425px;
	float: left;
	transform: skewY(4deg);
}
#wrapper_contact_right{
	width: 520px;
	float: right;
	padding-left: 65px;
	transform: skewY(4deg);
}
.body_contact_left{
	font-size: 20pt;
	font-weight: 300;
	color: white;
	line-height: 190%;
	transform: skewY(-4deg);
}
.body_contact_right{
	font-size: 20pt;
	font-weight: 300;
	color: white;
	line-height: 190%;
	transform: skewY(-4deg);
	border-left: solid 4px black;
	padding-left: 95px;
}

*/
