.main-container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  border: 1px solid red;

}

.nav-scroll-gutter{
  width: 100px;
  height: 100%;
  position: fixed;
  background-color: lightgreen;
}


.header {
  /*display: none;*/
  width: 1200px;
  height: 1300px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  background-color: black;
  z-index: -2
}

.header div{
  position: relative;
  margin-top: 400px;
}

.back-row{
  display: block;
  width: 1200px;
  position: absolute;
  left: 0px;
  right: 0px;
  margin: auto;
  z-index: -1
}

.lion-matte {
  display: block;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0px;
  right: 0px;
  margin: auto;
}

.lights-front-row{
  display: block;
  width: 1200px;
  position: absolute;
  top: 150px;
  left: 0px;
  right: 0px;
  margin: auto;
  mix-blend-mode: screen;
}

.front-row{
  display: block;
  width: 1200px;
  position: absolute;
  top: 140px;
  left: 0px;
  right: 0px;
  margin: auto;
}

/*/////////  END HEADER   ///////////*/

.road-container {
  width: 1200px;
  height: 5400px;
  margin: 0 auto;
  background-image: url("../images/road-pavement-1200x1201.png");
  position: relative;
}

.road-container::before{
  content: url("../images/road-gradient1-1200x5400.png");
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  opacity: 0.8;
  background-repeat: no-repeat;
}


.car-top-shadow {
  width: 1200px;
  position: absolute;
  z-index: 1;
}

.car-wrapper {
    /*border: 1px solid yellow; */
    /* margin: 0 auto; */
    position: absolute;
    background-repeat: no-repeat;
    background-image: url("../images/road-car.png");
    background-attachment: fixed;
    width: 1200px;
    height: 1200px;
}

/*NEED HEADLIGHTS*/

.badge-container {
  width: 100%;
  height: 3000PX;
  /*border: 1px solid cyan;*/
}

.badge-wrapper {
   /*border: 1px solid white;*/
   width: 700px;
   height: 1200px;
   /*margin-left: 90px;*/
   position: relative;
   top: 1600px;
}

.badge-wrapper p {
  font-family: 'Oswald';
    color: white;
    font-size: 90pt;
    position: absolute;
    mix-blend-mode: soft-light;
}

.badge-wrapper img {
    /* display: block; */
    width: 400px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    /* border-radius: 615px; */
    /* box-shadow: 50px 50px 50px black; */
}

.badge-wrapper .svg-wrapper {
    width: 840px;
    z-index: 1;
    position: absolute;
}

.svg-wrapper svg{
filter: drop-shadow(-10px 26px 8px #000);
}

.badge-container .power, .badge-container .interior{
  margin-left: 90px;
}

.badge-container .style{
  margin-left: 420px;
}

/*/////////  END ROAD   ///////////*/
.showcase-wrapper{
  background-color: black;
}

.showcase-wrapper .showcase-header{
  display: block;
  width: 1200px;
  position: relative;
  top: -280px;
}

.project-wrapper{
  width: 1200px;
  height: 1300px;
  position: relative;
  background-image: url("../images/showroom-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.project-wrapper>img {
  width: 340px;
  height: 500px;
  position: absolute;
 /*background-color: lightgreen;*/
}

.title-wrapper {
    border: 1px solid rgba(0, 255, 255, 0);
    position: relative;
    bottom: 95px;
    width: 800px;
    height: 400px;
    margin: 0 auto;
}

.title-wrapper h1 {
    font-size: 321pt;
    color: rgb(3, 99, 180);
    opacity: 0.2;
    font-family: 'PT Sans Narrow', sans-serif;
    position: absolute;
    letter-spacing: -20px;
}

.title-wrapper h3 {
    font-size: 11pt;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    letter-spacing: 9px;
    margin-left: 95px;
    margin-top: 150px;
    position: relative;
}

.title-wrapper h2 {
    width: 540px;
    margin-left: 30px;
}

.cloud-wrapper {
    /* border: 1px solid yellow; */
    width: 100%;
    height: 800px;
    position: relative;
    text-align: center;
    /* margin: 0 auto; */
}

.cloud-wrapper .back-cloud {
    display: block;
    width: 1200px;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.cloud-wrapper .iphone-one {
    /*display: inline-block;*/
    position: relative;
    z-index: 2;
    width: 370px;
}

.cloud-wrapper .front-cloud {
    width: 1200px;
    display: block;
    position: absolute;
    bottom: 0px;
    opacity: 1;
    z-index: 3;
}
