.content-wrapper {
  background-image: url(../images/starry_sky.jpg);
}

.wrapper{
  width: 60%;
  margin: 0 auto;
  background-size: cover;
  /*border: solid 1px orange;*/
}

@media only screen and (max-width: 690px){
    .wrapper{
         width: 100%;
  }
}


.spd-img {
  /*width: 100%;*/
}

.button_SPD {
    /* border: solid 1px cyan; */
    display: block;
    width: 251px;
    height: 46px;
    position: absolute;
    top: 148%;
    right: 457px;
    opacity: .4;
}

.button_FKSA {
    /*border: solid 1px green;*/
    display: block;
    width: 251px;
    height: 49px;
    position: absolute;
    top: 225%;
    right: 833px;
    opacity: .4;
}

.button_CEE {
    /*border: solid 1px yellow;*/
    /* display: block; */
    width: 251px;
    height: 46px;
    position: absolute;
    top: 309%;
    right: 419px;
    opacity: .4;
}
