.brand-header {
    background-color: pink;
    width: 100%;
    height: 460px;
    padding-top: 100px;
}

.brand-header-content-wrapper {
    /* border: solid 1px gold; */
    width: 715px;
    margin: 45px auto;
}

.brand-header-content-wrapper h1 {
    font-size: 70px;
    margin-bottom: 36px;
    color: white;
    text-align: center;
}

.brand-header-content-wrapper .header-icon-wrapper {
    /*overflow: auto;*/
    /*border: 1px solid cyan;*/
    /* width: 500px; */
    /* height: 400px; */
    text-align: center;
}

/*.brand-header-content-wrapper div img {
  width: 100px;
  height: 100px;
  display: inline-block;
  position: relative;
}*/


.brand-header-content-wrapper .header-icon-wrapper div {
    width: 120px;
    /* height: 100px; */
    display: inline-block;
    position: relative;
    margin-left: 20px;
    /* border: 1px solid palegoldenrod; */
}

/*.brand-header-content-wrapper .header-icon-wrapper div:after {
    content: '';
    position: absolute;
    left: 34px;
    right: 0;
    bottom: -15px;
    height: 3px;
    width: 50px;
    background-color: #0090ff;
}*/

.brand-header-content-wrapper .header-icon-wrapper div img {
  width: 100px;
  height: 100px;
}

.brand-header-content-wrapper .header-icon-wrapper div p {
    color: white;
    font-size: 16px;
    margin-top: 16px;
}

.brand-header-content-wrapper .header-icon-wrapper p:after {
    content: '';
    position: absolute;
    /* top: 0; */
    left: 34px;
    right: 0;
    bottom: 23px;
    height: 3px;
    width: 50px;
    background-color: rgb(0, 144, 255);
}

/*///////      END HEADER       ///////*/

.project-wrapper { /*////wrapps all projects, reach out and footer /////*/
    width: 100%;
    position: absolute;
    bottom: 0;
    top: 600px;
}

.project-module-wrapper{ /*//// wraps individual projects (desctiptions are absolute postitioned to this) /////*/
  width: 100%;
  border: 1px solid purple;
  position: relative;
}

.project-module {
    border: 1px solid red;
    /* position: relative;     description module is postioned to the outer wrapper not the photo of project */
    width: 70%;
    height: 575px;
    margin: 0 auto;
}

.project-description:before {
    content: '';
    position: absolute;
    top: -20px;
    /* left: 0; */
    /* right: -180px; */
    bottom: 0;
    height: 460px;
    width: 350px;
    border: 3px solid black;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 30px 6px rgba(13, 13, 13, .5);
    -ms-transform: skew(4deg);
    -webkit-transform: skew(4deg);
    transform: skewY(4deg);
}

.project-description {
    /*border: 1px solid cyan;*/
    background-color: white;
    height: 430px;
    width: 350px;
}

.right {
    position: absolute;
    top: 70px;
    right: 40px;
}

.left {
    position: absolute;
    top: 70px;
    left: 40px;
}

.project-description h1 {
    text-align: center;
    font-size: 30px;
    position: relative;
    top: 5px;
}

.project-description h1:after {
    content: '';
    width: 80px;
    height: 4px;
    background-color: rgb(0, 144, 255);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: 47px auto;
}

.project-description p {
    width: 70%;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    position: relative;
    top: 50px;
    margin: 0 auto;
}

.project-description a {
    display: block;
    height: 40px;
    width: 200px;
    text-align: center;
    background-color: black;
    position: relative;
    top: 85px;
    margin: 0 auto;
    text-decoration: none;
}

.project-description a span {
    display: inline-block;
    margin-top: 10px;
    text-align: center;
    font-size: 17px;
    color: rgb(0, 144, 255);
    /* position: relative; */
}

/*.skills-icon-wrapper {
    position: absolute;
    left: -24px;
    top: 20%;
    border: 1px solid darkred;
}*/

.skills-pos-right {
    position: absolute;
    top: 20%;
    left: -24px;
}

.skills-pos-left {
    position: absolute;
    top: 20%;
    right: -24px;
}

.project-description .skills-icon-wrapper img {
    display: block;
    width: 50px;
    height: 50px;
    margin-bottom: 20%;
}

.software-wrapper {
    /* border: 1px solid green; */
    overflow: hidden;
    text-align: center;
    position: relative;
    top: 64px;
}

.project-description .software-wrapper img {
    display: inline-block;
    /* float: left; */
    height: 30px;
    width: 30px;
    margin-left: 5px;
    filter: invert(100%);
}


.work-tree {
    background-image: url(../images/Bonsai1_BW_1200x922.png);
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: .3;
    /* clear: both; */
    /* position: absolute; */
    /* top: 345px; */
    /* left: -200px; */
    height: 800px;
    width: 980px;
    display: none;
    /* z-index: -1; */
}







/*///////////////////////  REACH OUT      ////////////////////////*/
.reach-out {
  width: 100%;
  background-color: rgb(0, 144, 255);
  height: 260px;
  text-align: center;
}

.reach-out:before {
    content: "";
    /* border: 1px solid yellow; */
    display: block;
    height: 300px;
    width: 610px;
    background-image: url(../images/mario_900x600.png);
    position: absolute;
    right: 0px;
    /* top: 0; */
    background-clip: content-box;
    mix-blend-mode: screen;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: -60px;
    opacity: .4;
}

.reach-out > p {
  z-index: 1;
}

.reach-out .reach-out-title {
    font-size: 38px;
    font-weight: 400;
    letter-spacing: -1px;
    color: black;
    padding-top: 30px;
    position: relative;
    /* margin-top: 20px; */
}

.reach-out-title:after {
    content: "";
    background-color: lightgray;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 4px;
    margin: 84px auto;
}

.reach-out .reach-out-body {
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 24px;
    letter-spacing: .5px;
    /* font-weight: 200; */
    /* font-style: italic; */
    margin-top: 45px;
}

.reach-out a {
    display: block;
    margin: 40px auto;
    width: 250px;
    height: 50px;
    background-color: black;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    z-index: 1;
}

.reach-out span {
    display: block;
    /* margin: 20px auto; */
    color: white;
    padding-top: 15px;
}

@media (max-width: 800px) {
  .project-module-wrapper {
    width: 100%;
    border: 1px solid purple;
    position: relative;
    /*margin-bottom: 300px;*/
  }
  .project-module {
    border: 1px solid red;
    position: relative;
    width: 100%;
    height: 665px;
    margin-bottom: 300px;
  }
  .right, .left {
    position: relative;
    top: 415px;
    right: 0px;
    left: 0;
    /* bottom: 0; */
}
  .project-description {
      /*border: 1px solid cyan;*/
      /* background-color: white; */
      height: 430px;
      width: inherit;
  }
  .project-description:before {
    content: '';
    position: absolute;
    top: 0;
    left: 2%;
    right: 0;
    bottom: 0;
    width: 95%;
    height: 360px;
    border: 3px solid black;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 30px 6px rgba(13, 13, 13, .5);
    -ms-transform: skew(4deg);
    -webkit-transform: skew(4deg);
    transform: skewY(4deg);
}

  .project-description h1 {
      text-align: center;
      font-size: 25px;
      position: relative;
      top: 38px;
      /* left: 50%; */
      /* margin: 0 auto; */
  }
  .project-description h1:after {
    content: '';
    width: 80px;
    height: 4px;
    background-color: rgb(0, 144, 255);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: 38px auto;
  }
  .project-description p {
    width: 80%;
    /* border: 1px solid; */
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    position: relative;
    top: 71px;
    margin: 0 auto;
  }
  .software-wrapper {
    /* border: 1px solid green; */
    overflow: hidden;
    text-align: center;
    position: relative;
    top: 90px;
  }
  .skills-pos-right, .skills-pos-left {
    position: absolute;
    width: 100%;
    /* display: none; */
    left: initial;
    right: initial;
    top: -25px;
    margin: 0 auto;
    /* border: 1px solid darkred; */
    text-align: center;
    transform: rotate(5deg);
  }
  /*.skills-icon-wrapper {

  }*/
  .project-description .skills-icon-wrapper img {
    display: inline-block;
    width: 50px;
    height: 50px;
    /*float: left;*/
     margin-bottom: 0;
  }
  .project-description a {
    display: block;
    height: 40px;
    width: 200px;
    text-align: center;
    background-color: black;
    position: relative;
    top: 105px;
    margin: 0 auto;
    text-decoration: none;
  }
}

@media (max-width: 460px) {
  .project-description:before{
  height: 390px;
  }
}

@media (max-width: 376px) {
  .brand-header-content-wrapper {
    /* border: solid 1px gold; */
    width: 360px;
    margin: 25px auto;
  }
  .brand-header-content-wrapper .header-icon-wrapper div {
    width: 90px;
    /* height: 100px; */
    /* display: inline-block; */
    /* position: relative; */
    /* margin-left: 20px; */
    margin-bottom: 8px;
    /* border: 1px solid palegoldenrod; */
}
  .brand-header-content-wrapper h1 {
      font-size: 40px;
      /* margin-bottom: 36px; */
      /* color: white; */
      /* text-align: center; */
  }
  .brand-header-content-wrapper .header-icon-wrapper div img {
    width: 80px;
    height: 80px;
  }
  .brand-header-content-wrapper .header-icon-wrapper div p {
    color: white;
    font-size: 13px;
    margin-top: 16px;
  }
  .brand-header-content-wrapper .header-icon-wrapper p:after {
    content: '';
    position: absolute;
    /* top: 0; */
    left: 20px;
    /*right: 0;*/
    /*bottom: 23px;*/
    /*height: 3px;*/
    /*width: 50px;*/
    /*background-color: rgb(0, 144, 255);*/
  }
  .project-module-wrapper {
    width: 100%;
    border: 1px solid purple;
    position: relative;
    /*margin-bottom: 300px;*/
  }
  .project-module {
    border: 1px solid red;
    position: relative;
    width: 100%;
    height: 665px;
    margin-bottom: 300px;
  }
  .right, .left {
    position: relative;
    top: 415px;
    right: 0px;
    left: 0;
    /* bottom: 0; */
}
  .project-description {
      /*border: 1px solid cyan;*/
      /* background-color: white; */
      height: 430px;
      width: inherit;
  }
  .project-description:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 352px;
      height: 410px;
      border: 3px solid black;
      background-color: rgb(255, 255, 255);
      box-shadow: 0px 4px 30px 6px rgba(13, 13, 13, .5);
      -ms-transform: skew(4deg);
      -webkit-transform: skew(4deg);
      transform: skewY(4deg);
  }
  .project-description h1 {
      text-align: center;
      font-size: 25px;
      position: relative;
      top: 38px;
      /* left: 50%; */
      /* margin: 0 auto; */
  }
  .project-description h1:after {
    content: '';
    width: 80px;
    height: 4px;
    background-color: rgb(0, 144, 255);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: 38px auto;
  }
  .project-description p {
    width: 300px;
    /* border: 1px solid; */
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    position: relative;
    top: 71px;
    margin: 0 auto;
  }
  .software-wrapper {
    /* border: 1px solid green; */
    overflow: hidden;
    text-align: center;
    position: relative;
    top: 90px;
  }
  .skills-pos-right, .skills-pos-left {
    position: absolute;
    /* display: none; */
    left: 75px;
    right: initial;
    top: -25px;
    /* border: 1px solid darkred; */
    transform: rotate(5deg);
  }
  /*.skills-icon-wrapper {

  }*/
  .project-description .skills-icon-wrapper img {
    display: block;
    width: 50px;
    height: 50px;
    float: left;
     margin-bottom: 0;
  }
  .project-description a {
    display: block;
    height: 40px;
    width: 200px;
    text-align: center;
    background-color: black;
    position: relative;
    top: 105px;
    margin: 0 auto;
    text-decoration: none;
  }
}
