.work-tree {
    background-image: url(../images/Bonsai1_BW_1200x922.png);
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: .3;
    position: absolute;
    top: 345px;
    left: -200px;
    height: 800px;
    width: 980px;
    z-index: -1;
}

.project_container {
    background-color: rgba(211, 211, 211, .3);
    width: 80%;
    /* height: 400px; */
    margin: 0 auto;
    padding-top: 160px;
    overflow: auto;
    animation-name: slide;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-delay: .3s;
    animation-duration: 0.6s;
}

@keyframes slide {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}

.project-link {
    text-decoration: none;
    margin-bottom: 20px;
    margin-left: 2%;
    display: block;
    float: left;
    overflow: hidden;
    height: 250px;
    width: 350px;
    /*border: 1px solid yellow;*/
}

.project-thumb {
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: blue;
    width: 350px;
    height: 250px;
    transition: 11s transform linear;
}

.project-roll-over {
    background-color: rgba(2, 0, 2, 0.70);
    width: 350px;
    height: 250px;
    position: relative;
    /* top: -250px; */
    top: 0;
    transition: .4s;
}

.project-title {
    text-decoration: none;
    font-size: 20px;
    width: 100%;
    color: white;
    text-align: center;
    padding-top: 40px;
    position: absolute;
}

span.plus {
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 80px;
    color: cyan;
    top: 85px;
}

.personal-branding{
		background-image: url(../Thumbs/AK3D_300x250.jpg);
}

.wmw {
  background-image: url(../images/thumbs/wmw_350x250.jpg);
}

.guess-that-dev {
  background-image: url(../images/thumbs/guessthatdev_350x250.jpg);
}

.tic-tac-bro {
  background-image: url(../images/thumbs/tictacbro.jpg);
}

.nutrisavings {
  background-image: url(../images/thumbs/nutrisavings_350x250.jpg);
}

.spd {
  background-image: url(../images/thumbs/spd_350x250.jpg);
}

.logo-folio {
  background-image: url(../images/thumbs/guessthatdev_350x200.jpg);
}

.photography{
  background-image: url(../images/thumbs/photo_350x250.jpg);
}

.milk-n-kookies{
  background-image: url(../images/thumbs/guessthatdev_350x250.jpg);
}

.buyer{
  background-image: url(../images/thumbs/buyer_300x250.jpg);
}

.hood{
  background-image: url(../images/thumbs/hood_300x250.jpg);
}

.carbonite{
  background-image: url(../images/thumbs/Carbonite_300x250.jpg);
}

.lsco{
  background-image: url(../images/thumbs/guessthatdev_350x250.jpg);
}

.chamber-pg{
  background-image: url(../images/thumbs/guessthatdev_350x250.jpg);
}

.reach-out {
  width: 100%;
  background-color: rgb(0, 144, 255);
  height: 260px;
  text-align: center;
}

.reach-out:before {
    content: "";
    /* border: 1px solid yellow; */
    display: block;
    height: 300px;
    width: 610px;
    background-image: url(../images/mario_900x600.png);
    position: absolute;
    right: 0px;
    /* top: 0; */
    background-clip: content-box;
    mix-blend-mode: screen;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: -60px;
    opacity: .4;
}

.reach-out > p {
  z-index: 1;
}

.reach-out .reach-out-title {
    font-size: 38px;
    font-weight: 400;
    letter-spacing: -1px;
    color: black;
    padding-top: 30px;
    position: relative;
    /* margin-top: 20px; */
}

.reach-out-title:after {
    content: "";
    background-color: lightgray;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 4px;
    margin: 84px auto;
}

.reach-out .reach-out-body {
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 24px;
    letter-spacing: .5px;
    /* font-weight: 200; */
    /* font-style: italic; */
    margin-top: 45px;
}

.reach-out a {
    display: block;
    margin: 40px auto;
    width: 250px;
    height: 50px;
    background-color: black;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    z-index: 1;
}

.reach-out span {
    display: block;
    /* margin: 20px auto; */
    color: white;
    padding-top: 15px;
}


a.project-link:hover {
	background-color: yellow;
}
a.project-link:hover .project-thumb{
  -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%);
}
a.project-link:hover .project-roll-over{
top: -250px;
}

/*//////////   RESPONSIVE WORK STYLES      /////////*/

@media (max-width: 1400px) {
  .project_container {
    background-color: rgba(211, 211, 211, .3);
    width: 96%;
    /* height: 400px; */
    text-align: center;
    margin: 0 auto;
    padding-top: 160px;
    overflow: auto;
    animation-name: slide;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-delay: .3s;
    animation-duration: 0.6s;
  }
  .project-link {
    text-decoration: none;
    margin-bottom: 3px;
     margin-left: initial;
    display: inline-block;
    float: INITIAL;
    overflow: hidden;
    height: 250px;
    width: 350px;
    /* border: 1px solid yellow; */
  }
}

@media (max-width: 800px) {
  .project_container {
    background-color: rgba(211, 211, 211, .3);
    width: 90%;
    /* height: 400px; */
    margin: 0 auto;
    text-align: center;
    padding-top: 160px;
    overflow: auto;
    animation-name: slide;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-delay: .3s;
    animation-duration: 0.6s;
}
.project-link {
    text-decoration: none;
    /* margin-bottom: 20px; */
    /* margin-left: 2%; */
    margin: 0 auto 20px auto;
    display: block;
     float: initial;
    overflow: hidden;
    height: 250px;
    width: 350px;
    /* border: 1px solid yellow; */
}
}
